
<body>
    <% for(let listing of allListings){%>
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card" >
          <img src="<%=listing.image%>" class="card-img-top" alt="listing_images" style="height: 20rem;">
          <div class="card-img-overlay">abcd</div>
          <div class="card-body">
          <b><p class="card-text"><%=listing.title%></b><br/>
            &#8377; <%=listing.price.toLocaleString("en-IN")%>
            
            
          </div>
        
        </div>
        </a>
        <%}%>
</body>
