<% layout("/layouts/boilerplate") %>

<div class="row row-cols-lg-6 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){%>
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card" >
          <img src="<%=listing.image%>" class="card-img-top" alt="listing_images" style="width: 10rem ; height:15rem">
          <div class="card-img-overlay">abcd</div>
          <div class="card-body">
          <b><p class="card-text"><%=listing.title%></b><br/>
            &#8377; <%=listing.price.toLocaleString("en-IN")%>
            
            
          </div>
        
        </div>
        </a>
        <%}%>
    </div>
</body>
