<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookRentalSystem</title>
</head>
<body>
    
    <form  method="POST" action="/listings">
        <input type="text" name="title" placeholder="Book Name">
        <br>
        <textarea type="text" name="description" placeholder="Enter Description"></textarea>
        <br>
        <input type="number" name="price" placeholder="Enter Price">
        <br>
        <input type="text" name="image" placeholder="Enter Image URL">
        <br>
        <input type="text" name="title" placeholder="Book Name">
        <br>
        <BUtton >add</BUtton>
    </form>
</body>
</html>