<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
  <div class="col-8 offset-2">
  <br/><br/>
    <h1>Add New Book</h1>
    <form  method="POST" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        
        <input type="text" name="listing[title]" placeholder="Add Catchy Title" class="form-control" required>
          <div class="valid-feedback">
            Title looks good!
          </div>
        </div>
        
        <div class="mb-3">
            <label for="title" class="form-label">Author</label>
        
        <input type="text" name="listing[author]" placeholder="Add Author Name" class="form-control" required>
          <div class="valid-feedback">
            Title looks good!
          </div>
        </div>
       
        <div class="mb-3">
            
            <label for="description" class="form-label">Description</label>
        <textarea type="text" name="listing[description]"  class="form-control" required></textarea>
        <div class="invalid-feedback">
            Description should be short
          </div>
        </div>
      
    
        <div class="mb-3 ">
            <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]"  placeholder="Enter Price" class="form-control">
        </div>
    
        
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
        <input  name="listing[image]" type="text"  class="form-control">
        </div>
        

        

        <button class="btn btn-dark add-btn">Add</button>
    </form>
</body>
